.cover {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(
    to top,
    rgba(26, 40, 120, 0.7),
    rgba(10, 143, 196, 0.7)
  );

  .wrap {
    position: relative;
    z-index: 1;
    padding: 20px 16px;
    max-width: 1024px;
  }

  img {
    width: 200px;
    height: 200px;
  }
}
